.logo {
    position:relative;
    overflow: hidden;
    width: 23%;
    height: 240px;
    padding: 15px;
    border-radius: 20px;
    background-image: linear-gradient(135deg, #ff677d 10%, #cd6684 100%);
    box-shadow: 0 2px 20px rgb(0, 0, 0,  0.5);
    transform-style: preserve-3d ;
    transform: perspective(1000px) ;
    display: flex;
    flex-flow:column ;

}